---
// src/pages/index.astro
const name = "瑪奇朵";
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="瑪奇朵的部落格">
		<h1>你好，歡迎來到我的部落格！</h1>
        <p>這是我的第一個 Astro 架構網站。</p>
</BaseLayout>
